body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem; }

.jumbotron {
  background-size: cover;
  background-image: url(../img/jumbo1-lg.jpg);
  text-align: center;
  color: white;
  min-height: 550px; }
  .jumbotron h1 {
    -webkit-text-shadow: 0 0 4px #061013;
    -moz-text-shadow: 0 0 4px #061013;
    text-shadow: 0 0 4px #061013;
    font-size: 4.2rem;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 200px; }

.logo {
  width: 60%; }
