$dkblue: #283A4A;
$ltblue: #E1E8EC;
$clover: #3DB505;
$ltmint: #B5DB92;
$xtradk: #061013;
$cerulean: #02779E;

@mixin dktextshadow {
  -webkit-text-shadow: 0 0 4px $xtradk;
  -moz-text-shadow: 0 0 4px $xtradk;
  text-shadow: 0 0 4px $xtradk;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  background-color: $ltblue;
  color: $dkblue;
}

a {
  color: $cerulean;
  &:hover {
    color: $clover;
  }
}

.jumbotron {
  background-size: cover;
  background-image: url(../img/jumbo1-lg.jpg);

  text-align: center;
  color: white;

  h1 {
    @include dktextshadow;
    font-size: 4.2rem;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 200px;
  }
  min-height: 550px;
}

.logo {
  width: 60%;
}

.trifecta {
  margin-bottom: 20px;
  text-align: center;

  h3 {
    text-transform: uppercase;
  }
}

a.btn-primary, .btn-primary {
  background-color: $dkblue;
  border-color: $dkblue;
  &:hover {
    background-color: $clover;
    border-color: $clover;
  }
}

.twitter {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('img/twitter-blu.png');
}

footer {
  font-weight: 300;
  color: $ltblue;
  background-color: $dkblue;
  padding: 20px 0;
  text-align: center;
  a {
    color: $clover;
    &:hover {
      color: $ltmint;
    }
  }
}