body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  background-color: #e1e8ec;
  color: #283a4a; }

a {
  color: #02779e; }
  a:hover {
    color: #3db505; }

.jumbotron {
  height: auto;
  min-height: 100%;
  margin-bottom: 0;
  webkit-background-size: cover;
  background-size: cover;
  background-image: url(../img/jumbo1-lg.jpg);
  text-align: center;
  color: white; }
  .jumbotron h1 {
    -webkit-text-shadow: 0 0 4px #061013;
    -moz-text-shadow: 0 0 4px #061013;
    text-shadow: 0 0 4px #061013;
    font-size: 4.2rem;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 200px; }

.logo {
  width: 60%; }

.trifecta {
  margin: 40px auto 60px;
  text-align: center; }
  .trifecta h3 {
    text-transform: uppercase; }

a.btn-primary, .btn-primary {
  background-color: #283a4a;
  border-color: #283a4a; }
  a.btn-primary:hover, .btn-primary:hover {
    background-color: #3db505;
    border-color: #3db505; }

.social a {
  background-color: #283a4a;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
.social img {
  width: 48px;
  height: 48px; }

a.twitter:hover {
  background-color: #00ACED; }

a.facebook:hover {
  background-color: #3B5998; }

footer {
  font-size: 2.75rem;
  font-weight: 300;
  color: #e1e8ec;
  background-color: #283a4a;
  padding: 20px 0;
  text-align: center; }
  footer a {
    color: #3db505; }
    footer a:hover {
      color: #b5db92; }
