.row
  .col-sm-8.col-sm-offset-2
    img.datlogo.img-responsive(src="/img/logo.png")

.row
  .col-sm-10.col-sm-offset-1
    p.huge Hey everybody,
    p.huge We're working on making HackBeanpot 2015 the best college hackathon Boston has ever seen.
      | Sign up for our mailing list, so we can keep you updated!
    p.huge
      form.form-inline(action='//hackbeanpot.us9.list-manage.com/subscribe/post?u=13bbeb925dd0787e5b3b9b8c3&id=4e5ffa1bd9', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
        .mc-field-group.text-center
          input#mce-EMAIL.required.email.form-control(type='email', value='Email Address', name='EMAIL')
          input.btn.btn-primary(type='submit', value='Subscribe', name='subscribe')
        #mce-responses.clear
          #mce-error-response.response(style='display: none;')
          #mce-success-response.response(style='display: none;')

    p.huge.text-right Happy Hacking,<br/>
      a(href="mailto:team@hackbeanpot.com") The Organizing Team
    p.text-center
      a(href="http://projects.hackbeanpot.com/", target="_blank") Last Year's Projects
      | |
      a(href="https://www.facebook.com/hackbeanpot", target="_blank") Facebook
      | |
      a(href="https://twitter.com/hackbeanpot", target="_blank") Twitter